
body{
    background-image: linear-gradient(#5c92f7 50%, #54d322);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}   
.boxsen{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
    
    
}

#inputs{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}
H1{
    color:#54d322;
    text-shadow: black;
}

td{     

    border: 5px solid black ;
    border-bottom: 5px solid black;
    background-image: linear-gradient(#d35cf7 50%, #54d322);
    transition: 420ms;
    font-size: 200%;
   
     
}
button{
    display: grid;
    background-image: linear-gradient(#d35cf7 50%, #54d322);
}


